:root {
    --branco-principal: #FFFFFF;
    --azul: #1090CB;
    --preto: #000000;
    --cinza: #5C5C5C;
    --cinza-claro: #969696;
    --fonte-principal: 'Poppins'
}

.cabecalho {
    background-color: var(--branco-principal);
    font-family: var(--fonte-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 29px;
    font-weight: 700;
    color: var(--azul);
    margin-left: 1em;
}

.menu__item {
    display: flex;
    text-decoration: none;
}

.lista-menu__item {
    text-decoration: none;
    display: inline-block;
    padding: 0 15px;
}

.lista-menu__link{
    text-decoration: none;
    color: var(--preto);
    font-size: 16px;
    font-weight: 400;
}

.lista-menu__link:hover {
    color: var(--azul);
}

.lista-menu__link-contato {
    background-color: blue;
    border-radius: 5px;
    padding: 3px;
    color: #FFFFFF;
}
.fundo-azul {
    background-color: rgba(16, 144, 203, 0.1);
}

.container {
    font-family: var(--fonte-principal);
    max-width: 1200px;
    display: flex;
    margin: 0px auto;
    
}

.container-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.container__botao {
    font-size: 16px;
    font-weight: 400;
    background-color: var(--azul);
    border-radius: 5px;
    padding: 1em;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    margin-bottom: 6em
}

.container-principal__titulo-primeiro {
    font-size: 41px;
    font-weight: 600;
    padding: 10px;
}

.container-principal__titulo {
    font-size: 30px;
    font-weight: 600;
    padding: 10px;
}

.container-principal__descricao {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza);
    padding: 10px;
}

.botao_secundario {
    background-color: #FFFFFF;
    color: var(--azul);
    border: 2px solid var(--azul);
}

.titulo__destaque {
    padding: 16px;
    margin: 15px;
    height: 100%;
    display: flex;
    align-items: center;
    width: 50%;
}

.lista-item {
    display: flex;
}

.item__titulo {
    font-size: 20px;
    font-weight: 500;
    color: var(--preto);
    margin: 0;
}

.item__descricao {
    font-size: 15px;
    font-weight: 400;
    color: var(--cinza);
    margin: 0;
}

.item {
    display: flex;
    align-items: center;
    margin: 5px;
    margin-right: 3em;
}

.item-texto {
    display: flex;
    flex-direction: column;
}

.imagem-secundaria {
    display:flex;
    border: 15px solid ;
    border-radius: 20px;
    border-color: #ECFFDA;
}

.container-secundario {
    background-color: var(--branco-principal);
    
}

.titulo-texto {
    font-family: var(--fonte-principal);
    text-align: center;
    margin: 40px;
    padding: 24px;
}

.titulo {
    font-size: 33px;
    font-weight: 600;
    color: #252525;
}

.texto {
    font-size: 18px;
    font-weight: 400;
    color: #868686;
}

.fundo-secundario {
    width: 100%;
}


.container-terciario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px; 
}


.img__happy {
    border-radius: 20px;
    background: #08D3BB;
    padding: 7px;
    margin-right: 20px;
}

.titulo-img-happy {
    margin: 0;
    font-size: 17px;
    font-weight: 500;
}

.texto-img-happy {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    color: #868686;
}

.container-principal__titulo b {
color: var(--azul);
}

.container-principal__titulo-primeiro b {
    color: var(--azul);
    }

.botao {
    font-family: var(--fonte-principal);
    display: flex;
    text-align: center;
}

.botao__titulo {
    font-size: 25px;
    font-weight: 600;
    color: #252525;
}

.botao__texto {
    font-size: 16px;
    font-weight: 400;
    color: #545454;
}

.botao-direito {
    background-color:#F4F4F4;
    margin-right: 24px;
    border-radius: 24px;
    padding: 50px;
}

.botao-esquerdo {
    background-color: var(--azul);
    border-radius: 24px;
    padding: 50px;
}

.botao__titulo-esquerdo {
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
}

.botao__texto-esquerdo {
    color: #FFFFFF;
}

.titulo {
    font-size: 24px;
    font-weight: 500;
}

.email {
    font-family: var(--fonte-principal);
    background:#E8F4FA;
    text-align: center;
    padding: 8em;
}

.botao_email {
    background-color: #000000;
    padding: 5px;
}

.e-mail {
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 10px;
    width: 25em;
}

.rodapé {
    font-family: var(--fonte-principal);
    padding: 1em;
    display: flex;
    justify-content: space-around;
}

.lista-rodapé {
    display:inline-block;
    padding: 40px;
}

.lista-rodapé__item {
    display: flex;
    align-items: center;
    margin: 0.6em 0;
}

.lista-rodapé__link {
    font-size: 16px;
    font-weight: 400;
    color: var(--cinza);
    text-decoration: none;
    
}

.lista-rodapé__titulo {
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
}

.lista-rodapé__titulo-logo {
    font-size: 16px;
    font-weight: 700;
    color: var(--azul);
}

.imagem__destaque {
    width: 50%;
}

.happy {
    display: flex;
    align-items: center;
}

.participantes {
    margin-right: 30px;
}

.fim-rodape {
    font-family: var(--fonte-principal);
    font-size: 13px;
    font-weight: 400;
    color: #686868;
    text-align: center;
    border-top: 1px solid #969696;
}

.lista-rodape-img {
    display: flex;
    margin-top: auto;
    padding: 40px;
}

.img-rodape {
    list-style: none;
    margin-right: 1em;
    margin-right: 1em;
    border: 5px solid #FFFFFF;
    box-shadow: 0px 4px 14px 0px #00000026;
    border-radius: 30px;
    padding: 2px;
}

/*
.container {
    border: 1px solid red;
}

 * {
    border: 1px solid red;
}
*/